.createArticlePage{

}


.createArticlePage h1{
    text-align: left;
    margin: 40px 0;
    font-size: 18px;
    font-weight:bold;
    color: rgb(118, 45, 116);
    font-size: 30px;
    font-weight: bolder;

}


.buttonWrapper{

}

.buttonWrapper button{
    padding: 10px 10px;
    border: none;
    margin-top: 10px;
    font-size: 20px;
    background-color: #780f7a;
    color: #fff;
    border-radius: 8px;
    
}


.buttonWrapper button:active{
    opacity: .3;
    transition: .3s;
}


