

/* headerWrapper */
.headerWrapper{
    box-shadow: 0px 3px 5px #d1d1d1 ;
}


/* header */
.header{
    
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul{
    display: flex;
    padding-left: 20px;
    color: rgb(183, 87, 182);
}

.header h3{
    color: rgb(183, 87, 182);
    cursor: pointer;
    /* padding-left: 15px; */
    font-size: 20px;
    margin-right: 15px;
}


.header ul li {
    margin-right: 25px;
}

.header ul li a{
    color: rgb(183, 87, 182);
    font-weight: bolder;
    font-size: 16px;
}

.header ul li a:hover{
    color: rgb(115, 207, 84);
}





/* menu */
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* search */
.search{
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.search input{
    outline: none;
    border: none;
    background-color: rgb(187, 187, 187);
    border-radius: 5px;
    height: 20px;
}

